
.row>*{
    border: none;
}

body {
    font-family: "Book Antiqua", serif;
}

.colDelBook { background: Salmon; color: MidnightBlue; }

.addNewBook {
    border: 1px solid orange;
    }

.marginRight {
    padding-right: 20px;
}
